/*.js
!/packages/hawtio/scripts/*.js
/*.cjs
/*.mjs

/**/gulpfile.js

/app/*.js
/app/*.cjs
/**/ignore/**
/**/craco.config.js

jest.config.ts
tsup.config*.ts
**/webpack*.js

**/proxy-dev-server.js

dist/
build/
