!/deploy/
!/deploy/**/*
!/docker/
!/docker/branding
!/docs/
!/packages/
!/packages/**/*
!/scripts/

dist/
lib/
licenses/
node/
node_modules/
site/
spec/
target/

# IDEs
.project
.settings/
.vscode/

# Yarn v3 (non zero-installs)
# See: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/.env
**/build

# Debugging output file for webpack
**/__webpackConfig__.txt

# snyk
.dccache
