.online-header-toolbar-dropdown .online-header-toolbar-dropdown-toggle::before {
  border: none !important;
}

.online-header-toolbar-dropdown .online-header-toolbar-dropdown-toggle {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.online-header-toolbar-dropdown .online-header-toolbar-dropdown-toggle .pf-v6-c-dropdown__toggle-icon {
  display: none;
}

/*
 * Used in the DiscoverLoadingPanel
 */
.discover-loading {
  width: 85%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  background-color: transparent;
  font-style: italic;
}

/*
 * Used in the DiscoverLoadingPanel
 */
.discover-loading-compact {
  margin-top: 0 !important;
}

/*
 * Used in the DiscoverLoadingPanel
 */
.discover-loading-compact div {
  padding: 0;
}

/* Colour of the group label, eg. Deployment Config */
.discover-group-label {
  text-align: left;
}

/*
 * Vertically aligns the pod item panel containing
 * all the information from the Running icon to the labels
 */
.pod-item-list-item {
  display: flex;
  align-items: center;
}

/*
 * This is a span added to the list component in PF6.
 * While the list has a flex layout this wrapper does not
 * so need to ensure that existing flex properties of
 * children respond appropriately.
 */
.pod-item-list-item .pf-v6-c-list__item-text {
  display: flex;
  width: 100%;
}

/* Determines the layout of the pod name */
.pod-item-name-with-labels {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

/* Determines the layout of the pod group name */
.pod-item-label-group {
  flex-grow: 2;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Ensures the labels list is centred */
.pod-item-label-group ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
* Since these labels remain on a yellow background despite the theme,
* override the console link's theme colours (grey in dark mode)
* to preserve their readability.
*/
.pod-item-home .console-link,
.pod-item-node .console-link {
  color: #453910 !important;
}

/* Lays out the connect button vertically aligning centre */
.pod-item-connect-button {
  flex-basis: 15%;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: auto;
}

/* Ensures connect button text is vertically aligned in the centre */
.connect-button {
  margin-top: auto;
  margin-bottom: auto;
}

/* Ensures connect button text is vertically aligned in the centre */
.connect-button-dropdown {
  margin-top: auto;
  margin-bottom: auto;
}

/* Provides space between the error badge and connect button */
.pod-item-connect-error-badge {
  margin-right: 0.2em;
}

/* Lays out the "Running.." label and icon */
.state-icon-wrapper {
  display: flex;
  align-items: center; /* Vertically centers the icon and text */
  gap: 0.5em;
  font-size: 0.8rem;
}

.state-icon {
  border-radius: 50%;
  height: 1.5em;
  line-height: 1.5em;
  width: 1.5em;
}

.running-state {
  /* default colour so its rendered according to theme */
}

.text-danger {
  color: #c00;
}

.text-success {
  color: #3c763d;
}

.text-muted {
  color: #9c9c9c;
}
