name: Image

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Build image
        run: |
          make image
      - name: Display image
        run: |
          docker images

      # Only push from main repository
      - name: Push image to Quay.io
        if: github.repository == 'hawtio/hawtio-online'
        env:
          USERNAME: ${{ secrets.QUAY_USERNAME }}
          PASSWORD: ${{ secrets.QUAY_PASSWORD }}
        run: |
          docker login -u ${USERNAME} -p ${PASSWORD} quay.io
          make image-push && make image-gateway-push
