name: Test

on:
  pull_request:
    branches:
      - main
      - '1.x-redhat-7.x'
      - '1.x-redhat-7.11.x'
    paths-ignore:
      - "**.md"
  push:
    branches:
      - main
      - '1.x-redhat-7.x'
      - '1.x-redhat-7.11.x'
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node: [ '12', '14' ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install NJS
        run: |
          # https://nginx.org/en/linux_packages.html#Ubuntu
          sudo apt-get install -y curl gnupg2 ca-certificates lsb-release ubuntu-keyring
          curl https://nginx.org/keys/nginx_signing.key | gpg --dearmor | sudo tee /usr/share/keyrings/nginx-archive-keyring.gpg >/dev/null
          echo "deb [signed-by=/usr/share/keyrings/nginx-archive-keyring.gpg] http://nginx.org/packages/ubuntu `lsb_release -cs` nginx" | sudo tee /etc/apt/sources.list.d/nginx.list
          echo -e "Package: *\nPin: origin nginx.org\nPin: release o=nginx\nPin-Priority: 900\n" | sudo tee /etc/apt/preferences.d/99nginx
          sudo apt-get update -y
          sudo apt-get install -y nginx=1.18.0-2~focal nginx-module-njs=1.18.0.0.4.4-2~focal
      - name: Show NJS versions for debugging
        run: sudo apt-cache showpkg nginx-module-njs
      - name: Set up node/yarn
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - name: Install
        run: yarn install
      - name: Build
        run: yarn build
      - name: Test
        run: yarn test
