.k8s-clickable-label .pf-c-label__content {
  margin: 0.3em !important;
  font-size: 12px;
  height: 100%;
  width: 100%;
}

.k8s-label-key {
  font-weight: bold;
}

.k8s-label-value {
  background-color: #7dc3e8;
  color: #ffffff;
  font-weight: bold;
}
