.k8s-clickable-label .pf-v6-c-label__content {
  margin: 0.1em !important;
}

/*
 * Overrides colour to stay readable in dark mode
 * - dark mode changes color to light-grey which is
 *   not readable on blue background
 */
.k8s-label-key {
  font-weight: bold;
  color: #0033cc;
}

.k8s-label-divider {
  color: #0033cc;
}

.k8s-label-value {
  background-color: #405db4;
  color: #ffffff;
  font-weight: bold;
}
